body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
ul{
  padding: 0;
  margin: 0 auto;
}

h1 {
    text-align: center;
}
.is-hidden{
    display:none;

}

.search-form{
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.search-input {
  height: 39px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid lightgray;
}

button {
    margin: auto;
    padding: 10px 20px;
    background-color:darkorchid ;
    color: #fff;
    border: none;
    cursor: pointer;

}


button:hover {
    background-color:purple ;
}

.load-more{
  display: block;
  margin:0 auto;
}
.load-more.is-hidden {
  display: none;
}

.imageCard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}


.error{
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
padding: 0;
  
    margin-bottom: 20px;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start:0;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
  }
  
  .photo-card{
    flex-basis: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
border: 1px solid gainsboro;
border-radius: 10px;
  }
  
  .gallery-img {
    width: 100%;
    max-width: unset;
    object-fit: cover;
  }
  .gallery__link{
    text-decoration:none;
    

  }
  .info{
    margin-top: 5px;
    text-decoration: none;
    color: black;
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    font-weight: lighter;
    display: flex;
  
    padding:  10px;
    justify-content: space-between;
    column-gap: 10px;
  }
  .info-item{
margin: 0;
    font-family:'Segoe UI', sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;

  }