body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}
.is-hidden{
    display:none;
}

input[type="text"] {

    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    max-width: 100%;
  
}

button {
    margin: auto;
    padding: 10px 20px;
    background-color:darkorchid ;
    color: #fff;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color:purple ;
}

#imageGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.imageCard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.imageCard img {
    max-width: 100%;
    height: auto;
}
.error{
    text-align: center;
}
.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }