body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}
.is-hidden{
    display:none;
}

input[type="text"] {

    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    max-width: 100%;
  
}

button {
    margin: auto;
    padding: 10px 20px;
    background-color:darkorchid ;
    color: #fff;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color:purple ;
}



.imageCard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.imageCard img {
    max-width: 100%;
    height: auto;
}
.error{
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 20px;
    list-style: none;
  }
  
  .photo-card{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 100px;
  }
  
  .gallery-img {
    width: 100%;
    height: 100%;
    max-width: unset;
    object-fit: cover;
  }
  .gallery__link{
    text-decoration:none;
    

  }
  .info{
    margin-top: 5px;
    text-decoration: none;
    color: black;

  }
  .info-item{
    margin: auto;
    font-family:'Segoe UI', sans-serif;
    font-weight: lighter;
  }